body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Arial;
    color: #ffffff;
}

.container {
    background-color: rgba(31, 32, 32, 0.5);
    border-radius: 15px;
    padding: 30px;
    margin: 20px auto;
    width: 800px;
}

header {
    text-align: center;
    color: rgb(0, 255, 0);
}

header img {
    width: 166px;
    height: 76px;
}

nav{
    background-color: rgba(0, 255, 0, 0.6);
    padding: 10px;
    text-align: center;
}

section {
    margin-top: 20px;
}

.owner {
    font-size: 25px;
}

.info {
    margin-top: 7px;
    font-size: 13px;
}

#charge_1 {
    margin-top: 5px;
    border-radius: 5px;
    height: 25px;
    width: 42%;
    background-color: #ffa500;
}

#charge_2 {
    margin-top: 5px;
    border-radius: 5px;
    height: 25px;
    width: 75%;
    background-color: #00f000;
}

#charge_3 {
    margin-top: 5px;
    border-radius: 5px;
    height: 25px;
    width: 25%;
    background-color: #ff0000;
}